* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: lightpink;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 150%;
    border: 0px;
    margin: 0px;
    width: 100%;
    height: 40px;
    line-height: 25px;
    padding: 1em;
 }


 
 h2 {
     text-align: center;
     width: 660px;
     height: 415px;
     padding: 10px;
     margin: 10px;
     color: black;
     line-height: 50px;
 }

* {
   border: 0;
   padding: 0px;
   margin: 0px; 
   border-radius: 0px;

}



 div {
   text-align: center;
   border: 0px;
}

#div-texto {
   float: left; 
   position: relative;
   top: 50px;
}

.gallery__img {
    object-fit: cover;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 5vw);
    grid-gap: 15px;
}

.galleryitem1 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 7;
}

.galleryitem2 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 7;
}

.galleryitem3 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 8;
}

.galleryitem4 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 8;
}

.galleryitem5 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 9;
}

.galleryitem6 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 9;
}